name: Go lint

on:
  push:

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Use Go = 1.21
        uses: actions/setup-go@v3
        with:
          go-version: '=1.21'
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Tidy
        run: go mod tidy && [ -z "$(git status -s)" ]

      - name: Lint
        run: make lint

      - name: Vet
        run: make vet
